Login

<div>
    <form id="loginForm">
        <label>Email</label>
        <input name="email">
        <br>
        <label>Contraseña</label>
        <input name="password">
        <input type="submit">
    </form>
</div>

Recuerda que puedes ingresar desde<a href="/api/sessions/google">Google</a><Br><Br>

</style>
No tenes usuario? <a href="/register">Registrate!</a> O Ingresa por
<a href="/api/sessions/github"><button>Github</button></a>
<p> Olvidaste tu Contraseña? Puedes restablecerla <button onclick="restorePassword()"> Aqui </button> </p>

<script src="/js/login.js"></script>