Register

<div>
    <form id="registerForm">

        <label>Email</label>
        <input name="email">

        <label>Contraseña</label>
        <input name="password">
        <input type="submit">
    </form>
</div>

<script src="/js/register.js"></script>